@charset "UTF-8";
body {
  background: #fff;
}

.cart-checkbox {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.cart-checkbox input {
  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid #BCBCBC;
  -webkit-appearance: none; /* Webkit browsers (Safari, Chrome) */
  -moz-appearance: none; /* Mozilla Firefox */
  appearance: none; /* Modern browsers */
}
.cart-checkbox input:checked::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "✔";
  font-size: 14px;
  color: #f60;
}
.cart-checkbox input:checked {
  background: #FFFFFF !important;
}

i, em {
  font-style: normal;
}

i {
  font-family: Arial, serif;
}

em {
  font-family: tahoma, serif;
}

.index-header .ng-header-con .ng-search {
  position: absolute;
  right: 0;
  left: unset;
}
.index-header .ng-header-con .ng-search .g-search {
  width: 400px;
}
.index-header .ng-header-con .ng-search .g-search .search-keyword-box {
  border-radius: 0;
  border-color: #f50;
  height: 30px;
  width: 320px;
}
.index-header .ng-header-con .ng-search .g-search .search-keyword-box .search-keyword {
  padding: 4px 0;
  width: 285px;
}
.index-header .ng-header-con .ng-search .g-search .searchSubmit {
  width: 80px;
  border-radius: 0;
  background: #f50;
  height: 30px;
  padding: 4px 0;
  line-height: 22px;
  font-size: 14px;
}

.cart-wrapper {
  width: 1190px;
  min-width: 1190px;
  margin: 0 auto;
}
.cart-wrapper .m-cart-header .cart-table-header {
  margin-bottom: 23px;
}
.cart-wrapper .m-cart-header .cart-table-header .inner-box {
  height: 32px;
  border: 1px solid #ddd;
  border-top-width: 3px;
  display: flex;
}
.cart-wrapper .m-cart-header .cart-table-header .inner-box .th {
  height: 32px;
  line-height: 32px;
}
.cart-wrapper .m-cart-header .cart-table-header .inner-box .th-chk {
  width: 250px;
  display: flex;
  align-items: center;
}
.cart-wrapper .m-cart-header .cart-table-header .inner-box .th-item {
  width: 218px;
}
.cart-wrapper .m-cart-header .cart-table-header .inner-box .th-specs {
  width: 145px;
}
.cart-wrapper .m-cart-header .cart-table-header .inner-box .th-price {
  width: 153px;
}
.cart-wrapper .m-cart-header .cart-table-header .inner-box .th-amount {
  width: 130px;
}
.cart-wrapper .m-cart-header .cart-table-header .inner-box .th-sum {
  width: 175px;
  padding-left: 15px;
}
.cart-wrapper .m-cart-header .cart-table-header .inner-box .th-op {
  width: 100px;
}
.cart-wrapper .m-cart-body .m-store {
  margin-bottom: 30px;
}
.cart-wrapper .m-cart-body .m-store .store-title {
  height: 26px;
  margin-bottom: 7px;
  line-height: 26px;
  display: flex;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item {
  margin-bottom: -1px;
  padding: 15px 20px;
  border: 1px solid #dfdfdf;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main {
  display: flex;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-chk {
  width: 47px;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-item {
  width: 392px;
  display: flex;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-item .item-pic {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-item .item-pic a {
  display: block;
  border: 1px solid #eee;
  width: 80px;
  height: 80px;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-item .item-pic a img {
  width: 80px;
  height: 80px;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-item .item-info {
  width: 239px;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-item .item-info a {
  display: block;
  margin-bottom: 2px;
  max-height: 36px;
  line-height: 18px;
  color: #333;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-specs {
  width: 103px;
  height: 94px;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-specs .specs-line p {
  color: #999;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-price {
  width: 106px;
  text-align: right;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-amount {
  width: 177px;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-amount .item-amount {
  padding-left: 76px;
  display: flex;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-amount .item-amount a {
  display: block;
  width: 22px;
  height: 22px;
  background: url("../images/lion-cart.png") no-repeat;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-amount .item-amount .minus {
  background-position: -87px -24px;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-amount .item-amount .plus {
  background-position: -111px -24px;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-amount .item-amount .text-amount {
  width: 26px;
  height: 14px;
  line-height: 14px;
  padding: 3px 0;
  color: #666;
  border: solid #CCC;
  border-width: 1px 0;
  outline: none;
  text-align: center;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-sum {
  width: 126px;
  text-align: right;
}
.cart-wrapper .m-cart-body .m-store .cart-list .cart-item .item-main .td-op {
  width: 58px;
  padding-left: 115px;
}

.cart-toolbar-box {
  margin-top: 30px;
}
.cart-toolbar-box .cart-toolbar {
  height: 58px;
  background: #FFF;
  line-height: 58px;
  border: 1px solid #ddd;
}
.cart-toolbar-box .cart-toolbar .toolbar-box {
  display: flex;
  justify-content: space-between;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .l-column {
  display: flex;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .l-column span {
  margin-right: 10px;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .l-column .del-selected {
  margin-left: 30px;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column {
  display: flex;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-collect {
  height: 100%;
  display: flex;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-collect .selected-prods {
  margin-top: 6px;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-collect .selected-prods .alchose {
  margin-right: 20px;
  line-height: 22px;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-collect .selected-prods .alchose .now-select-goods {
  color: #333;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-collect .selected-prods .alchose .now-select-goods .price-color {
  color: #f60;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-collect .selected-prods .alchose .now-select-goods .alchose-span {
  display: inline-block;
  width: 10px;
  height: 12px;
  background: url("../images/lion-cart.png") no-repeat -11px -108px;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-collect .split {
  width: 1px;
  height: 38px;
  background: #ddd;
  align-self: center;
  margin-right: 16px;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-collect .sn-sum-price .cart-sum-price {
  line-height: 22px;
  margin-top: 6px;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-collect .sn-sum-price .cart-sum-price span {
  margin-top: -3px;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-collect .sn-sum-price .cart-sum-price .sn-price {
  vertical-align: middle;
  color: #f60;
  font-weight: 400;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-collect .sn-sum-price .cart-sum-price .sn-price i {
  font-size: 14px;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-collect .sn-sum-price .cart-sum-price .sn-price em {
  font-size: 22px;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-checkout {
  margin-left: 15px;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-checkout .checkout-btn {
  display: block;
  width: 120px;
  height: 60px;
  line-height: 60px;
  margin-top: -1px;
  margin-right: -1px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #f60;
}
.cart-toolbar-box .cart-toolbar .toolbar-box .r-column .cart-checkout .checkout-btn:hover {
  background-color: #EB5428;
}
