* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  color: #666;
}
a :hover {
  color: #f60;
}

body {
  font: 12px/1.5 "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  -webkit-font-smoothing: antialiased;
  background: #f2f2f2;
}

#TOP_ACTIVE {
  background-color: #ff7b90;
  height: 100px;
  width: 100%;
  position: relative;
  z-index: 999;
}
#TOP_ACTIVE a {
  width: 100%;
  height: 100%;
  min-width: 1190px;
  display: block;
  position: relative;
}
#TOP_ACTIVE a img {
  display: block;
  width: 1190px;
  margin: 0 auto;
}
#TOP_ACTIVE a #TOP_X {
  position: absolute;
  top: 3px;
  right: 56px;
  z-index: 999;
}
#TOP_ACTIVE a #TOP_X img {
  width: 15px;
  height: 15px;
}

.display-none {
  display: none;
}

.ng-toolbar {
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #eee;
  min-width: 1190px;
  background: #f5f5f5;
}
.ng-toolbar .ng-toolbar-con {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left {
  float: left;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .ng-bar-node-box {
  float: left;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .ng-bar-node-box a {
  display: block;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .ng-bar-node-box a img {
  padding-left: 3px;
  vertical-align: center;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .ng-bar-node-box a .home {
  width: 18px;
  height: 16px;
  margin-right: 3px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .ng-bar-node-box .ng-bar-node {
  display: flex;
  align-items: center;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .ng-site-nav-box {
  width: 65px;
  padding: 0 10px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .shop-handle {
  width: 61px;
  padding: 0 10px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .service-handle {
  width: 63px;
  padding: 0 10px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .scale-handle {
  width: 60px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .index-city-handle {
  padding: 0 6px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .index-city-handle span {
  color: rgb(51, 51, 51);
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .index-city-handle .position {
  padding: 0 6px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-left .index-city-handle a:hover span {
  color: rgb(255, 102, 0);
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right {
  float: right;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .ng-bar-node-box {
  float: left;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .ng-bar-node-box a {
  display: block;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .ng-bar-node-box a img {
  padding-left: 3px;
  vertical-align: center;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .ng-bar-node-box .ng-bar-node {
  display: flex;
  align-items: center;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .username-handle {
  overflow: hidden;
  height: 35px;
  position: relative;
  z-index: 10;
  padding: 0 10px;
  transition: height 0.3s ease, background-color 0.3s ease;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .username-handle:hover {
  background-color: #fff;
  border: 1px solid #DDDDDD;
  margin-top: -1px;
  margin-right: -1px;
  height: 102px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .reg-bar-node {
  display: block;
  position: relative;
  float: left;
  padding: 0 10px;
  line-height: 35px;
  height: 35px;
  overflow: hidden;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .reg-bar-node .reg-bbb {
  position: relative;
  margin-left: 10px;
  color: #F60;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .myorder-handle {
  width: 63px;
  padding: 0 10px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .mysuning-handle {
  width: 63px;
  padding: 0 10px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .sn-huiyuan {
  padding: 0 10px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .cart-handle {
  width: 84px;
  padding: 0 5px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .cart-handle .cart-ico {
  width: 16px;
  margin-right: 7px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .cart-handle :nth-child(3) {
  margin-right: 5px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .yifubao {
  width: 36px;
  padding: 0 10px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .qiyecaigou {
  width: 48px;
  padding: 0 10px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right .app-down-box {
  padding-left: 10px;
}
.ng-toolbar .ng-toolbar-con .ng-toolbar-right a:hover {
  color: #ff6600;
}

.index-header {
  position: relative;
  width: 100%;
  height: 110px;
  background: #fff;
}
.index-header .ng-header-con {
  position: relative;
  width: 1190px;
  min-width: 1190px;
  height: 100px;
  margin: 0 auto;
}
.index-header .ng-header-con .ng-header-box a {
  position: absolute;
  top: 10px;
}
.index-header .ng-header-con .ng-header-box a img {
  width: 190px;
  height: 90px;
}
.index-header .ng-header-con .ng-search {
  position: absolute;
  height: 100px;
  width: 600px;
  top: 0;
  left: 300px;
}
.index-header .ng-header-con .ng-search .g-search {
  width: 540px;
  height: 63px;
  margin-top: 30px;
  float: right;
}
.index-header .ng-header-con .ng-search .g-search .search-keyword-box {
  float: left;
  background: #fff;
  width: 420px;
  height: 40px;
  border-radius: 12px 0 0 12px;
  border: 2px solid #ff8000;
  box-sizing: border-box;
}
.index-header .ng-header-con .ng-search .g-search .search-keyword-box .search-keyword {
  width: 380px;
  padding: 9px 10px 9px 0;
  height: 18px;
  line-height: 18px;
  margin-top: 0;
  border: 0;
  font-size: 12px;
  border-radius: 0;
  -webkit-border-radius: 0;
  float: right;
  outline: none;
}
.index-header .ng-header-con .ng-search .g-search .searchSubmit {
  float: left;
  width: 120px;
  height: 40px;
  background: #ff8000;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 0;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 2px;
}

.ng-nav-bg {
  background: #FFFFFF;
}
.ng-nav-bg .ng-nav-bar {
  position: relative;
  min-width: 1190px;
  width: 1190px;
  margin: 0 auto;
  height: 38px;
  display: flex;
  justify-content: space-between;
}
.ng-nav-bg .ng-nav-bar .index-sort {
  width: 200px;
}
.ng-nav-bg .ng-nav-bar .index-sort .index-all-hook {
  display: block;
  position: absolute;
  width: 166px;
  padding-left: 34px;
  height: 38px;
  top: 0;
  line-height: 38px;
  background: #ff8000;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  border-radius: 12px 12px 0 0;
  text-decoration: none;
}
.ng-nav-bg .ng-nav-bar .index-sort .index-all-hook img {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 14px;
  height: 13px;
}
.ng-nav-bg .ng-nav-bar .index-sort .dacu-list-wrapper .index-sort-list-box {
  position: absolute;
  top: 38px;
  width: 200px;
  height: 476px;
  background: #fff;
  z-index: 999;
}
.ng-nav-bg .ng-nav-bar .index-sort .dacu-list-wrapper .index-sort-list-box .index-list li {
  width: 166px;
  height: 31px;
  padding: 0 6px 0 28px;
  position: relative;
  line-height: 29px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.ng-nav-bg .ng-nav-bar .index-sort .dacu-list-wrapper .index-sort-list-box .index-list li .icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 6px;
  top: 7px;
}
.ng-nav-bg .ng-nav-bar .index-sort .dacu-list-wrapper .index-sort-list-box .index-list li a {
  vertical-align: middle;
  letter-spacing: 1px;
  color: #000;
}
.ng-nav-bg .ng-nav-bar .index-sort .dacu-list-wrapper .index-sort-list-box .index-list li a:hover {
  color: #ff6600;
}
.ng-nav-bg .ng-nav-bar .index-sort .dacu-list-wrapper .index-sort-list-box .index-list li span {
  font-size: 14px;
  vertical-align: middle;
  margin: 0 1px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-index {
  width: 794px;
  height: 38px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-index .ng-nav {
  display: flex;
}
.ng-nav-bg .ng-nav-bar .ng-nav-index .ng-nav li {
  width: 60px;
  height: 38px;
  line-height: 38px;
  font-weight: bold;
  padding: 0 12px 0 13px;
  font-size: 15px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-index .ng-nav li a {
  color: #333;
}
.ng-nav-bg .ng-nav-bar .ng-nav-index .ng-nav li a:hover {
  color: #ff6600;
}
.ng-nav-bg .ng-nav-bar .ng-nav-index .ng-nav .title-pic {
  width: 110px;
  padding: 0;
}
.ng-nav-bg .ng-nav-bar .ng-nav-index .ng-nav .title-pic img {
  height: 38px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right a img {
  width: 196px;
  height: 38px;
  vertical-align: middle;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right {
  width: 196px;
  height: 476px;
  background: #FFFFFF;
  position: absolute;
  z-index: 999;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box {
  position: relative;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .user-img {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 10px;
  top: 10px;
  z-index: 1;
  border: 1px solid #f7f7f7;
  border-radius: 50%;
  background-size: 100% 100%;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .user-img a img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: 0;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .has-login {
  width: 196px;
  height: 225px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .has-login .user-info {
  float: left;
  margin-top: 15px;
  margin-left: 66px;
  width: 125px;
  height: 38px;
  font-size: 12px;
  color: #333;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .has-login .user-info .hi {
  width: 122px;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .has-login .user-info span {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  color: #fff;
  font-size: 12px;
  background: #363636;
  margin-right: 2px;
  border-radius: 3px;
  padding: 0 5px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .has-login .user-info .tips {
  display: block;
  color: #ff8000;
  font-size: 12px;
  line-height: 17px;
  height: 17px;
  text-align: left;
  margin-top: 8px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .has-login .order-info {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 93px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .has-login .order-info div {
  display: block;
  float: left;
  margin-right: 10px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .has-login .order-info div a {
  color: #333;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .has-login .order-info div a .num {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #ff7800;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .has-login .order-info .split-line {
  width: 1px;
  height: 14px;
  background: #ccc;
  margin-top: 10px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .has-login .order-info .all {
  width: 25px;
  height: 34px;
  color: #EE8031;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .three-entry {
  position: absolute;
  width: 196px;
  height: 85px;
  left: 0;
  top: 140px;
  background: #fff;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .three-entry a {
  float: left;
  width: 65px;
  height: 85px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .three-entry a img {
  display: block;
  width: 36px;
  height: 36px;
  margin: 6px auto;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .three-entry a p {
  height: 20px;
  max-width: 66px;
  line-height: 20px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .top-box .three-entry a:hover p {
  color: #ED702D;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .bot-box {
  height: 250px;
  width: 196px;
  border-top: 1px solid #f2f2f2;
  overflow: hidden;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .bot-box ul {
  margin-right: -2px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .bot-box ul li {
  float: left;
  width: 65px;
  height: 85px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #f2f2f2;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .bot-box ul li a img {
  display: block;
  width: 26px;
  height: 26px;
  margin: 12px 20px;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .bot-box ul li a p {
  text-align: center;
  color: #333;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  max-width: 66px;
  overflow: hidden;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .bot-box ul li:hover {
  box-shadow: 0 0 5px #DDDDDD;
}
.ng-nav-bg .ng-nav-bar .ng-nav-right .nav-right .bot-box ul li:hover p {
  color: #ED702D;
}

.swiper {
  position: relative;
  min-width: 1190px;
}
.swiper #swiperScreen {
  height: 476px;
}
.swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
}
.swiper .swiper-wrapper .swiper-slide img {
  width: 794px;
  height: 476px;
  position: relative;
  left: 2px;
}
.swiper .swiper-pagination {
  position: absolute;
  top: 335px;
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  border-radius: 0;
}
.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #ff8000;
}
.swiper .swiper-button {
  width: 814px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  margin-left: 2px;
  transform: translate(-50%, 0);
}
.swiper .swiper-button .swiper-button-prev:after, .swiper .swiper-button .swiper-button-next:after {
  content: none !important;
}
.swiper .four-wrap {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translate(-391px, 0);
  width: 786px;
  height: 112px;
  overflow: hidden;
  z-index: 998;
}
.swiper .four-wrap .four-sm-banner ul {
  display: flex;
}
.swiper .four-wrap .four-sm-banner ul li {
  position: relative;
  padding-left: 2px;
  cursor: pointer;
}
.swiper .four-wrap .four-sm-banner ul li a img {
  width: 194px;
  height: 112px;
}
.swiper .four-wrap .four-sm-banner ul li .white {
  position: absolute;
  left: 0;
  top: 0;
  width: 194px;
  height: 112px;
  z-index: 999;
  pointer-events: none;
  transition: background-color 0.2s ease;
}
.swiper .four-wrap .four-sm-banner ul li:hover .white {
  background: rgba(255, 255, 255, 0.3137254902);
}

.new-twoFloor {
  width: 1190px;
  margin: 10px auto;
  display: flex;
}
.new-twoFloor .little-area {
  width: 590px;
  height: 298px;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
}
.new-twoFloor .little-area .title {
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.new-twoFloor .little-area .title .title-pic {
  display: block;
  height: 30px;
  width: 106px;
  margin: 15px 0 0 16px;
}
.new-twoFloor .little-area .title .title-pic img {
  width: 106px;
  height: 30px;
}
.new-twoFloor .little-area .title .right-more {
  display: flex;
  align-items: center;
  height: 20px;
  line-height: 20px;
  margin-right: 12px;
  margin-top: 20px;
  font-size: 14px;
  color: #999;
}
.new-twoFloor .little-area .title .right-more img {
  margin-left: 5px;
  width: 18px;
  height: 18px;
}
.new-twoFloor .little-area .title .sub-title-pic {
  height: 24px;
  margin-top: 17px;
  line-height: 24px;
  padding: 0 5px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 4px;
  color: #ff8000;
  border: 1px solid #ff8000;
  position: relative;
  left: -150px;
}
.new-twoFloor .little-area .title .title-text {
  color: #333333;
  font-size: 24px;
  height: 37px;
  margin: 10px 0 0 16px;
  overflow: hidden;
  font-weight: bold;
}
.new-twoFloor .little-area .list-content ul {
  display: flex;
}
.new-twoFloor .little-area .list-content ul .cms-good {
  margin-left: 20px;
}
.new-twoFloor .little-area .list-content ul .cms-good a img {
  width: 150px;
  height: 150px;
  margin: 0 10px 10px;
  border-radius: 6px;
}
.new-twoFloor .little-area .list-content ul .cms-good a .title {
  width: 170px;
  height: 20px;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  font-weight: normal;
}
.new-twoFloor .little-area .list-content ul .cms-good a .price-box .price {
  display: flex;
}
.new-twoFloor .little-area .list-content ul .cms-good a .price-box .price i, .new-twoFloor .little-area .list-content ul .cms-good a .price-box .price em {
  font-style: normal;
  font-weight: bold;
}
.new-twoFloor .little-area .list-content ul .cms-good a .price-box .price i {
  line-height: 21px;
  color: #f30;
  align-self: end;
}
.new-twoFloor .little-area .list-content ul .cms-good a .price-box .price em {
  color: #f30;
  font-size: 18px;
}
.new-twoFloor .little-area .list-content ul .cms-good a .price-box .price .icon {
  width: 54px;
  height: 18px;
  margin: 2px 5px 0 0;
  border-radius: 0;
}
.new-twoFloor .little-area2 {
  margin-left: 10px;
}
.new-twoFloor .little-area2 .sub-title-pic {
  color: #E7001D !important;
  border: 1px solid #E7001D !important;
}
.new-twoFloor .little-area3 {
  margin-left: 10px;
}
.new-twoFloor .little-area3 .sub-title-pic {
  color: #FF5500 !important;
  border-color: #FF5500 !important;
}
.new-twoFloor .little-area3 .recommended-swiper {
  width: 540px;
  height: 240px;
  overflow: hidden;
  margin: 0 auto;
}
.new-twoFloor .little-area3 .recommended-swiper .swiper-slide {
  height: 240px;
}
.new-twoFloor .little-area3 .recommended-swiper .swiper-slide ul {
  display: flex;
  height: 240px;
}
.new-twoFloor .little-area3 .recommended-swiper .swiper-slide ul li {
  height: 240px;
  width: 170px;
  margin-left: 6px;
}
.new-twoFloor .little-area3 .recommended-swiper .swiper-slide ul li a {
  position: relative;
  display: inline-block;
  width: 170px;
}
.new-twoFloor .little-area3 .recommended-swiper .swiper-slide ul li a .main-pic {
  width: 150px;
  height: 150px;
  margin: 10px;
  vertical-align: top;
}
.new-twoFloor .little-area3 .recommended-swiper .swiper-slide ul li a .name {
  color: #333;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  width: 170px;
  margin: 0 0 2px 0;
}
.new-twoFloor .little-area3 .recommended-swiper .swiper-slide ul li a .desc {
  color: #f20;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 170px;
}
.new-twoFloor .little-area3 .recommended-swiper .swiper-slide ul li a .desc img {
  width: 15px;
  height: 15px;
  margin: 2px 3px 0 0;
}
.new-twoFloor .little-area3 .recommended-swiper .swiper-slide ul li a .label {
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
}
.new-twoFloor .little-area3 .recommended-swiper .swiper-slide ul li a .label img {
  width: 46px;
  height: 46px;
}
.new-twoFloor .little-area3 .recommended-swiper .swiper-slide ul li a .label span {
  display: block;
  width: 46px;
  position: absolute;
  color: #fff;
  left: 5px;
  top: 18px;
}

.new-channel-ground {
  width: 1190px;
  margin: 0 auto;
  height: 580px;
}
.new-channel-ground .channel-pic {
  vertical-align: top;
  display: block;
  width: 1190px;
}
.new-channel-ground .channel-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.new-channel-ground .channel-wrap .channel-box {
  width: 390px;
  height: 245px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 12px;
}
.new-channel-ground .channel-wrap .channel-box a {
  display: block;
  width: 100%;
  height: 60px;
}
.new-channel-ground .channel-wrap .channel-box a .text {
  float: left;
  height: 37px;
  font-size: 26px;
  color: #333;
  font-weight: bold;
  margin: 11px 12px 0 16px;
}
.new-channel-ground .channel-wrap .channel-box a .sub-text {
  float: left;
  height: 22px;
  font-size: 16px;
  color: #666;
  margin-top: 20px;
}
.new-channel-ground .channel-wrap .channel-box .content {
  width: 100%;
  height: 175px;
  overflow: hidden;
}
.new-channel-ground .channel-wrap .channel-box .content a {
  display: block;
  float: left;
  width: 165px;
  height: 165px;
  margin-left: 20px;
}
.new-channel-ground .channel-wrap .channel-box .content a img {
  width: 165px;
  height: 165px;
}
.new-channel-ground .channel-wrap .channel-box:nth-child(3n) {
  margin-right: 0;
}

.new-rec-tab {
  width: 1190px;
  margin: 0 auto;
}
.new-rec-tab .suggest {
  vertical-align: top;
  display: block;
  width: 1190px;
}
.new-rec-tab ul {
  display: flex;
  flex-wrap: wrap;
}
.new-rec-tab ul li {
  width: 230px;
  height: 350px;
  margin: 0 10px 10px 0;
  background: #fff;
  border-radius: 6px;
  position: relative;
}
.new-rec-tab ul li a .lazy-loading {
  width: 230px;
  height: 230px;
  margin: 0 0 10px;
}
.new-rec-tab ul li a .title {
  width: 202px;
  height: 40px;
  margin: 0 0 8px 14px;
  overflow: hidden;
  color: #333;
  font: 14px/20px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  word-break: break-all;
}
.new-rec-tab ul li a .price-box {
  position: absolute;
  height: 28px;
  bottom: 10px;
  left: 14px;
}
.new-rec-tab ul li a .price-box .price {
  line-height: 28px;
  color: #f30;
  font-size: 20px;
  font-weight: bold;
}
.new-rec-tab ul li a .price-box .price em, .new-rec-tab ul li a .price-box .price i {
  font-style: normal;
}
.new-rec-tab ul li a .cxIcon {
  position: relative;
  width: 190px;
  height: 18px;
  margin-left: 14px;
  overflow: hidden;
}
.new-rec-tab ul li a .cxIcon span {
  position: relative;
  display: block;
  float: left;
  padding: 0 2px;
  height: 16px;
  line-height: 16px;
  border: #EF8733 1px solid;
  border-radius: 4px;
  color: #EF8733;
  font-size: 12px;
}
.new-rec-tab ul li:nth-child(5n) {
  margin-right: 0;
}
