* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font: 12px/1.5 "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  -webkit-font-smoothing: antialiased;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #ED702D;
}

.disabled {
  pointer-events: none;
  color: #bbb;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  background: #fff;
}
.header .ng-header-con {
  position: relative;
  width: 1190px;
  min-width: 1190px;
  height: 100px;
  margin: 0 auto;
}
.header .ng-header-con .ng-header-box a {
  position: absolute;
  top: 10px;
  left: 110px;
}
.header .ng-header-con .ng-header-box a img {
  width: 190px;
  height: 90px;
}

.main {
  background: url("../images/background.jpg") center no-repeat;
  height: 570px;
  min-width: 970px;
}
.main .login-c {
  width: 970px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.main .login-c .login-form {
  position: absolute;
  right: 0;
  top: 50px;
  width: 360px;
  height: 410px;
  background: #fff;
}
.main .login-c .login-form .login-tab {
  height: 50px;
  line-height: 20px;
  font-size: 16px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.main .login-c .login-form .login-tab .tab-item {
  position: relative;
  float: left;
  height: 100%;
  width: 50%;
  text-decoration: none;
  text-align: center;
}
.main .login-c .login-form .login-tab .tab-item span {
  display: block;
  border-right: 1px solid #eee;
  margin-top: 15px;
}
.main .login-c .login-form .login-tab .tab-item i {
  display: none;
  position: absolute;
  width: 70px;
  height: 4px;
  background: #f60;
  bottom: -1px;
  left: 50%;
  margin-left: -35px;
}
.main .login-c .login-form .login-tab .on {
  color: #f60;
}
.main .login-c .login-form .login-tab .on i {
  display: block;
}
.main .login-c .login-form .pc-login .input-box {
  position: relative;
  border: 1px solid #ddd;
  color: #999;
  padding: 0 32px 0 36px;
  height: 36px;
  overflow: hidden;
}
.main .login-c .login-form .pc-login .input-box input {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 36px;
  padding: 0 32px 0 36px;
  border: 0;
  font-size: 14px;
  margin-left: -36px;
  outline: none;
}
.main .login-c .login-form .pc-login .icon {
  width: 36px;
  height: 36px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-style: normal;
  color: #999;
}
.main .login-c .login-form .pc-login .username-login, .main .login-c .login-form .pc-login .phone-login {
  width: 312px;
  height: 241px;
  padding: 0 24px;
}
.main .login-c .login-form .pc-login .username-login .username-box, .main .login-c .login-form .pc-login .username-login .phone-box, .main .login-c .login-form .pc-login .phone-login .username-box, .main .login-c .login-form .pc-login .phone-login .phone-box {
  margin-bottom: 20px;
}
.main .login-c .login-form .pc-login .username-login .username-box .input-box .icon, .main .login-c .login-form .pc-login .username-login .phone-box .input-box .icon, .main .login-c .login-form .pc-login .phone-login .username-box .input-box .icon, .main .login-c .login-form .pc-login .phone-login .phone-box .input-box .icon {
  z-index: 999;
  background: url("../images/sprite.png") -123px -67px no-repeat;
}
.main .login-c .login-form .pc-login .username-login .password-box, .main .login-c .login-form .pc-login .phone-login .password-box {
  margin-bottom: 20px;
}
.main .login-c .login-form .pc-login .username-login .password-box .input-box .icon, .main .login-c .login-form .pc-login .phone-login .password-box .input-box .icon {
  z-index: 999;
  background: url("../images/sprite.png") 0px -108px no-repeat;
}
.main .login-c .login-form .pc-login .username-login .sms-box, .main .login-c .login-form .pc-login .phone-login .sms-box {
  display: flex;
  margin-bottom: 20px;
}
.main .login-c .login-form .pc-login .username-login .sms-box .input-box, .main .login-c .login-form .pc-login .phone-login .sms-box .input-box {
  width: 140px;
}
.main .login-c .login-form .pc-login .username-login .sms-box .input-box .icon, .main .login-c .login-form .pc-login .phone-login .sms-box .input-box .icon {
  z-index: 999;
  background: url("../images/sprite.png") 0px -108px no-repeat;
}
.main .login-c .login-form .pc-login .username-login .sms-box .send-sms, .main .login-c .login-form .pc-login .phone-login .sms-box .send-sms {
  display: block;
  width: 101px;
  height: 100%;
  line-height: 36px;
  text-align: center;
  background: #eee;
  border: 1px solid #ddd;
  border-left: 0 none;
  font-size: 14px;
  text-decoration: none;
}
.main .login-c .login-form .pc-login .username-login .login-help, .main .login-c .login-form .pc-login .phone-login .login-help {
  line-height: 35px;
  height: 35px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.main .login-c .login-form .pc-login .username-login .login-help .login-switch, .main .login-c .login-form .pc-login .phone-login .login-help .login-switch {
  display: flex;
  align-items: center;
}
.main .login-c .login-form .pc-login .username-login .login-help .login-switch i, .main .login-c .login-form .pc-login .phone-login .login-help .login-switch i {
  background: url("../images/sprite.png") -21px -149px no-repeat;
  font-style: normal;
  display: block;
  width: 13px;
  height: 16px;
  margin-right: 5px;
}
.main .login-c .login-form .pc-login .username-login .login-submit, .main .login-c .login-form .pc-login .phone-login .login-submit {
  display: block;
  width: 310px;
  line-height: 40px;
  margin: 0 auto;
  background: #f60;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.main .login-c .scan-login {
  padding-top: 30px;
  text-align: center;
  position: relative;
}
.main .login-c .scan-login .scan-box {
  height: 156px;
  padding: 20px 34px 0;
  position: relative;
  margin-bottom: 17px;
}
.main .login-c .scan-login .scan-box .qrcode {
  width: 141px;
  height: 141px;
  margin: 0 auto;
  transition: 0.3s all;
  position: relative;
}
.main .login-c .scan-login .scan-box .qrcode img {
  display: block;
  width: 100%;
  height: 100%;
}
.main .login-c .scan-login .open-app {
  margin-bottom: 7px;
  text-align: center;
}
.main .login-c .scan-login .open-app i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: url("../images/sprite.png") -164px -67px no-repeat;
  vertical-align: -3px;
}
.main .login-c .scan-login .open-app a {
  color: #f60;
}
.main .login-c .free-reg {
  text-align: center;
  margin: 12px 0 35px;
}
.main .login-c .free-reg a {
  font-size: 12px;
  color: #ff6600;
}
