<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>苏宁易购</title>
    <link rel="stylesheet" href="../scss/login.css">
</head>
<body>

<div class="header">
    <div class="ng-header-con">
        <div class="ng-header-box">
            <a href=""><img src="../images/logo-set.png" alt=""></a>
        </div>
    </div>
</div>
<div class="main">
    <div class="login-c">
        <div class="login-form">
            <div class="login-tab">
                <a href="javascript:void(0)" class="tab-item on">
                    <span>扫码登录</span>
                    <i></i>
                </a>
                <a href="javascript:void(0)" class="tab-item">
                    <span>账户登录</span>
                    <i></i>
                </a>
            </div>
            <!--扫码登录-->
            <div class="scan-login" style="display: block">
                <div class="scan-box">
                    <div class="qrcode"><img src="../images/qr.png" alt=""></div>
                </div>
                <p class="open-app">
                    <i></i>
                    打开
                    <a href="">苏宁易购APP</a>
                    扫码登录
                </p>
            </div>
            <!--账户登录-->
            <div class="pc-login" style="display: none;">
                <!--账号密码登录-->
                <div class="username-login" style="display: block">
                    <div style="height: 40px;width: 312px;"></div>
                    <div class="username-box">
                        <div class="input-box">
                            <input type="text" placeholder="用户名/手机/邮箱">
                            <div class="icon"></div>
                        </div>
                    </div>
                    <div class="password-box">
                        <div class="input-box">
                            <input type="password" placeholder="密码">
                            <div class="icon"></div>
                        </div>
                    </div>
                    <div class="login-help">
                        <a href="javascript:void(0)" class="login-switch">
                            <i></i>
                            短信验证码登录
                        </a>
                        <a href="javascript:void(0)" class="forget-password">
                            忘记密码？
                        </a>
                    </div>
                    <a href="javascript:void(0)" class="login-submit">
                        登录
                    </a>
                </div>
                <!--手机验证码登录-->
                <div class="phone-login" style="display: none">
                    <div style="height: 40px;width: 312px;"></div>
                    <div class="phone-box">
                        <div class="input-box">
                            <input type="text" placeholder="手机号码">
                            <div class="icon"></div>
                        </div>
                    </div>
                    <div class="sms-box">
                        <div class="input-box">
                            <div class="icon"></div>
                            <input type="text" placeholder="手机验证码">
                        </div>
                        <a href="javascript:void(0)" class="send-sms">获取验证码</a>
                    </div>
                    <div class="login-help">
                        <a href="javascript:void(0)" class="login-switch">
                            <i></i>
                            账号密码登录
                        </a>
                        <a href="javascript:void(0)" class="forget-password">
                            忘记密码？
                        </a>
                    </div>
                    <a href="javascript:void(0)" class="login-submit">
                        登录
                    </a>
                </div>
            </div>

            <div class="free-reg">
                <a href="register.html">注册 有惊喜 ></a>
            </div>
        </div>
    </div>
</div>

<script src="../js/login.js"></script>
</body>
</html>