<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>苏宁易购</title>
    <link rel="stylesheet" href="../scss/index.css">
    <link rel="stylesheet" href="../scss/product.css">
    <link rel="stylesheet" href="../scss/toBig.css">
</head>
<body>
<div id="main">
    <!--导航栏-->
    <div class="ng-toolbar">
        <div class="ng-toolbar-con">
            <div class="ng-toolbar-left">
                <div class="ng-bar-node-box">
                    <a class="ng-bar-node" href="../index.html"><img src="../images/home.png" alt="" class="home"><span
                            style="margin-right: 5px">返回首页</span></a>
                </div>
                <div class="ng-bar-node-box ng-site-nav-box">
                    <a class="ng-bar-node" href=""><span>网站导航</span><img src="../images/to-bottom.png" alt=""></a>
                </div>
                <div class="ng-bar-node-box shop-handle">
                    <a class="ng-bar-node" href=""><span>商家入驻</span><img src="../images/to-bottom.png" alt=""></a>
                </div>
                <div class="ng-bar-node-box service-handle">
                    <a class="ng-bar-node" href=""><span>客户服务</span><img src="../images/to-bottom.png" alt=""></a>
                </div>
                <div class="ng-bar-node-box scale-handle">
                    <a class="ng-bar-node" href=""><span>网页无障碍</span></a>
                </div>
            </div>
            <div class="ng-toolbar-right">
                <div class="reg-bar-node">
                    <a href="login.html">请登录</a>
                    <a href="register.html" class="reg-bbb">注册有礼</a>
                </div>
                <div class="ng-bar-node-box username-handle" style="display: none">
                    <a class="ng-bar-node" href=""><span>186******05</span><img src="../images/to-bottom.png"
                                                                                alt=""></a>
                </div>
                <div class="ng-bar-node-box myorder-handle">
                    <a class="ng-bar-node" href=""><span>我的订单</span><img src="../images/to-bottom.png" alt=""></a>
                </div>
                <div class="ng-bar-node-box mysuning-handle">
                    <a class="ng-bar-node" href=""><span>我的易购</span><img src="../images/to-bottom.png" alt=""></a>
                </div>
                <div class="ng-bar-node-box"><a class="sn-huiyuan" href="">苏宁会员</a></div>
                <div class="ng-bar-node-box cart-handle">
                    <a class="ng-bar-node" href=""><img class="cart-ico" src="../images/cart.png"
                                                        alt=""><span>购物车</span><img src="../images/to-bottom.png"
                                                                                       alt=""></a>
                </div>
                <div class="ng-bar-node-box yifubao"><a href="">易付宝</a></div>
                <div class="ng-bar-node-box qiyecaigou"><a href="">企业采购</a></div>
                <div class="ng-bar-node-box app-down-box">
                    <a class="ng-bar-node" href=""><span>手机苏宁</span><img src="../images/to-bottom.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <!--头部，搜索栏-->
    <div class="index-header">
        <div class="ng-header-con">
            <div class="ng-header-box">
                <a href="../index.html"><img src="../images/logo-set.png" alt=""></a>
            </div>
            <div class="ng-search">
                <div class="g-search">
                    <div class="search-keyword-box">
                        <input class="search-keyword" type="text">
                    </div>
                    <input class="searchSubmit" type="submit" value="搜索">
                </div>
            </div>
        </div>
    </div>

    <!--分类导航-->
<!--    <div class="ng-nav-bg">
            <div class="ng-nav-bar">
                <div class="index-sort">
                    <a href="" class="index-all-hook"><img src="../public/images/type.png" alt=""><span>分类</span></a>
                    <div class="dacu-list-wrapper">
                        <div class="index-sort-list-box">
                            <ul class="index-list">
                                <li><img class="icon" src="../public/images/type1.png" alt=""><a href="">冰箱</a><span>/&nbsp</span><a
                                        href="">洗衣机</a><span>/&nbsp</span><a
                                        href="">空调</a></li>
                                <li><img class="icon" src="../public/images/type2.png" alt=""><a href="">电视</a><span>/&nbsp</span><a
                                        href="">视听影音</a></li>
                                <li><img class="icon" src="../public/images/type3.png" alt=""><a href="">手机</a><span>/&nbsp</span><a
                                        href="">配件</a><span>/&nbsp</span><a
                                        href="">运营商</a></li>
                                <li><img class="icon" src="../public/images/type4.png" alt=""><a href="">厨房大电</a><span>/&nbsp</span><a
                                        href="">卫浴</a><span>/&nbsp</span><a
                                        href="">饮水</a></li>
                                <li><img class="icon" src="../public/images/type5.png" alt=""><a href="">厨房小电</a><span>/&nbsp</span><a
                                        href="">生活电器</a></li>
                                <li><img class="icon" src="../public/images/type6.png" alt=""><a href="">电脑</a><span>/&nbsp</span><a
                                        href="">相机</a><span>/&nbsp</span><a
                                        href="">配件</a></li>
                                <li><img class="icon" src="../public/images/type7.png" alt=""><a href="">家具</a><span>/&nbsp</span><a
                                        href="">家装</a><span>/&nbsp</span><a
                                        href="">家纺</a><span>/&nbsp</span><a
                                        href="">灯具</a></li>
                                <li><img class="icon" src="../public/images/type8.png" alt=""><a href="">食品</a><span>/&nbsp</span><a
                                        href="">酒水</a><span>/&nbsp</span><a
                                        href="">生鲜</a></li>
                                <li><img class="icon" src="../public/images/type9.png" alt=""><a href="">母婴</a><span>/&nbsp</span><a
                                        href="">玩具</a><span>/&nbsp</span><a
                                        href="">童装</a><span>/&nbsp</span><a
                                        href="">童床</a></li>
                                <li><img class="icon" src="../public/images/type10.png" alt=""><a href="">美妆</a><span>/&nbsp</span><a
                                        href="">个护</a><span>/&nbsp</span><a
                                        href="">清洁</a><span>/&nbsp</span><a
                                        href="">宠物</a></li>
                                <li><img class="icon" src="../public/images/type11.png" alt=""><a href="">女装</a><span>/&nbsp</span><a
                                        href="">男装</a><span>/&nbsp</span><a
                                        href="">内衣</a><span>/&nbsp</span><a
                                        href="">鞋靴</a></li>
                                <li><img class="icon" src="../public/images/type12.png" alt=""><a href="">运动</a><span>/&nbsp</span><a
                                        href="">户外</a><span>/&nbsp</span><a
                                        href="">汽车</a><span>/&nbsp</span><a
                                        href="">工具</a></li>
                                <li><img class="icon" src="../public/images/type13.png" alt=""><a href="">箱包</a><span>/&nbsp</span><a
                                        href="">钟表</a><span>/&nbsp</span><a
                                        href="">珠宝</a></li>
                                <li><img class="icon" src="../public/images/type14.png" alt=""><a href="">清洗</a><span>/&nbsp</span><a
                                        href="">维修</a><span>/&nbsp</span><a
                                        href="">安装</a><span>/&nbsp</span><a
                                        href="">洗衣</a></li>
                                <li><img class="icon" src="../public/images/type15.png" alt=""><a
                                        href="">滋补保健</a><span>/&nbsp</span><a
                                        href="">健康服务</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

    <div class="sf-navfull">
        <div class="sf-navbar">
            <div class="sf-allcate">
                <span>本店所有商品</span>
            </div>
            <ul class="sf-navlist">
                <li><a href="">首页</a></li>
            </ul>
        </div>
    </div>

<!--    <div class="breadcrumb"></div>-->

    <div class="proinfo">
        <div class="proinfo-left">
            <div class="img-zoom">
                <div class="img-zoom-main">
                    <img src="" alt="">
                    <div class="img-zoom-shot"></div>
                </div>
                <div class="img-zoom-pop">
                    <img src="" alt="">
                </div>
                <div class="imgNav">
                    <img onclick="toRight()" src="" alt="">
                    <div class="ul-container">
                        <ul>
                            <li><img class="active" src="" alt=""></li>
                            <li><img src="" alt=""></li>
                            <li><img src="" alt=""></li>
                            <li><img src="" alt=""></li>
                            <li><img src="" alt=""></li>
                            <li><img src="" alt=""></li>
                            <li><img src="" alt=""></li>
                            <li><img src="" alt=""></li>
                            <li><img src="" alt=""></li>
                            <li><img src="" alt=""></li>
                        </ul>
                    </div>
                    <img onclick="toLeft()" src="" alt="">
                </div>
            </div>
        </div>
        <div class="proinfo-right">
            <div class="proinfo-title">
                <h1 class="itemDisplayName">
                    <span class="zy" style="display: none"></span>
                    <span class="item-name"></span>
                </h1>
                <h2 class="promotionDesc">
                    <span class="desc"></span>
                </h2>
            </div>
            <div class="price-container">
                <div class="price-promo">
                    <dt>
                        <span class="w3">  易购价  </span>
                    </dt>
                    <dd>
                        <span class="main-price">
<!--                            <i>¥</i>5538.<span>00</span>-->
                        </span>
                    </dd>
                </div>
            </div>
            <div class="tzm">

                <div class="proinfo-color-ex" style="display: none">
                    <dt><span class="w2">颜色</span></dt>
                    <ul class="tip-infor"></ul>
                </div>

                <div class="proinfo-memory" style="display: none">
                    <dt><span class="w2">内存</span></dt>
                    <ul class="buy-type"></ul>
                </div>

                <div class="proinfo-size" style="display: none">
                    <dt><span class="w2">尺码</span></dt>
                    <ul class="buy-type"></ul>
                </div>

                <div class="proinfo-num">
                    <dt><span class="w2">数量</span></dt>
                    <div class="num-con">
                        <a href="" class="minus"></a>
                        <input type="text" name="" id="" value="1">
                        <a href="" class="plus"></a>
                    </div>
                </div>

                <div class="mainbtns">
                    <a href="" class="buy-now">立即购买</a>
                    <a href="" class="add-cart">加入购物车</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/product.js"></script>
<script src="../js/magnify.js"></script>

</body>
</html>