<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>苏宁易购</title>
    <link rel="stylesheet" href="../public/scss/index.css">
    <link rel="stylesheet" href="../public/scss/cart.css">
</head>
<body>

<!--导航栏-->
<div class="ng-toolbar">
    <div class="ng-toolbar-con">
        <div class="ng-toolbar-left">
            <div class="ng-bar-node-box">
                <a class="ng-bar-node" href="../public/index.html"><img src="../public/images/home.png" alt="" class="home"><span
                        style="margin-right: 5px">返回首页</span></a>
            </div>
            <div class="ng-bar-node-box ng-site-nav-box">
                <a class="ng-bar-node" href=""><span>网站导航</span><img src="../public/images/to-bottom.png" alt=""></a>
            </div>
            <div class="ng-bar-node-box shop-handle">
                <a class="ng-bar-node" href=""><span>商家入驻</span><img src="../public/images/to-bottom.png" alt=""></a>
            </div>
            <div class="ng-bar-node-box service-handle">
                <a class="ng-bar-node" href=""><span>客户服务</span><img src="../public/images/to-bottom.png" alt=""></a>
            </div>
            <div class="ng-bar-node-box scale-handle">
                <a class="ng-bar-node" href=""><span>网页无障碍</span></a>
            </div>
        </div>
        <div class="ng-toolbar-right">
            <div class="reg-bar-node">
                <a href="login.html">请登录</a>
                <a href="register.html" class="reg-bbb">注册有礼</a>
            </div>
            <div class="ng-bar-node-box username-handle" style="display: none">
                <a class="ng-bar-node" href=""><span>186******05</span><img src="../public/images/to-bottom.png"
                                                                            alt=""></a>
            </div>
            <div class="ng-bar-node-box myorder-handle">
                <a class="ng-bar-node" href=""><span>我的订单</span><img src="../public/images/to-bottom.png" alt=""></a>
            </div>
            <div class="ng-bar-node-box mysuning-handle">
                <a class="ng-bar-node" href=""><span>我的易购</span><img src="../public/images/to-bottom.png" alt=""></a>
            </div>
            <div class="ng-bar-node-box"><a class="sn-huiyuan" href="">苏宁会员</a></div>
            <div class="ng-bar-node-box cart-handle">
                <a class="ng-bar-node" href=""><img class="cart-ico" src="../public/images/cart.png"
                                                    alt=""><span>购物车</span><img src="../public/images/to-bottom.png"
                                                                                   alt=""></a>
            </div>
            <div class="ng-bar-node-box yifubao"><a href="">易付宝</a></div>
            <div class="ng-bar-node-box qiyecaigou"><a href="">企业采购</a></div>
            <div class="ng-bar-node-box app-down-box">
                <a class="ng-bar-node" href=""><span>手机苏宁</span><img src="../public/images/to-bottom.png" alt=""></a>
            </div>
        </div>
    </div>
</div>

<!--头部，搜索栏-->
<div class="index-header">
    <div class="ng-header-con">
        <div class="ng-header-box">
            <a href=""><img src="../public/images/logo-set.png" alt=""></a>
        </div>
        <div class="ng-search">
            <div class="g-search">
                <div class="search-keyword-box">
                    <input class="search-keyword" type="text">
                </div>
                <input class="searchSubmit" type="submit" value="搜索">
            </div>
        </div>
    </div>
</div>

<div class="cart-wrapper">

    <div class="m-cart-header">
        <div class="cart-table-header">
            <div class="inner-box">
                <div class="th th-chk">
                    <div class="cart-checkbox">
                        <input type="checkbox" class="all-check-box">
                    </div>
                    全选
                </div>
                <div class="th th-item">商品信息</div>
                <div class="th th-specs">规格</div>
                <div class="th th-price">单价（元）</div>
                <div class="th th-amount">数量</div>
                <div class="th th-sum">小计（元）</div>
                <div class="th th-op">操作</div>
            </div>
        </div>
    </div>

    <div class="m-cart-body">
        <div class="m-store">
            <div class="store-title">
                <div class="cart-checkbox">
                    <input type="checkbox" class="store-all-check">
                </div>
                <b>苏宁自营</b>
            </div>
            <div class="cart-list">
                <div class="cart-item">
                    <div class="item-main">
                        <div class="td td-chk">
                            <div class="cart-checkbox">
                                <input type="checkbox" class="all-check-box">
                            </div>
                        </div>
                        <div class="td td-item">
                            <div class="item-pic">
                                <a href="">
                                    <img src="../public/imgs/主图_002.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-info">
                                <a href="">
                                    Apple iPhone 14 128G 星光色 移动联通电信5G 双卡双待手机
                                </a>
                            </div>
                        </div>
                        <div class="td td-specs">
                            <div class="specs-line">
                                <p>颜色：星光色</p>
                            </div>
                            <div class="specs-line">
                                <p>内存：128G</p>
                            </div>
                        </div>
                        <div class="td td-price">
                            <div class="price-line">
                                <span>
                                    <i>¥</i>
                                    <em>5999.00</em>
                                </span>
                            </div>
                        </div>
                        <div class="td td-amount">
                            <div class="item-amount">
                                <a href="" class="minus"></a>
                                <input value="1" type="text" class="text-amount">
                                <a href="" class="plus"></a>
                            </div>
                        </div>
                        <div class="td td-sum">
                            <b class="sn-price">
                                <i>¥</i>
                                <em>5999.00</em>
                            </b>
                        </div>
                        <div class="td td-op">
                            <a href="">移入关注</a>
                            <a href="">删除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cart-toolbar-box">
        <div class="cart-toolbar">
            <div class="toolbar-box">
                <div class="l-column">
                    <div class="cart-checkbox">
                        <input type="checkbox" class="store-all-check">
                    </div>
                    <span>全选</span>
                    <a href="" class="del-selected">删除选中商品</a>
                </div>
                <div class="r-column">
                    <div class="cart-collect">
                        <div class="selected-prods">
                            <div class="alchose">
                                <a href="" class="now-select-goods">
                                    已选商品
                                    <b class="price-color">3</b>
                                    件
                                    <span class="alchose-span"></span>
                                </a>
                            </div>
                        </div>
                        <div class="split"></div>
                        <div class="sn-sum-price">
                            <p class="cart-sum-price">
                                <span>总价：</span>
                                <b class="sn-price">
                                    <i>¥</i>
                                    <em>12040.90</em>
                                </b>
                            </p>
                        </div>
                    </div>
                    <div class="cart-checkout">
                        <a class="checkout-btn" href="javascript:void(0)">
                            去结算
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>